.azul_centro {
    color: blue;
    text-align: center;
}

.margin100 {
    margin-left: 100px;
    margin-right: 100px;
}

.unidade_centro {
    text-align: center;
}

.header-container {
    display: flex; /* Enables flexbox layout for children */
    align-items: center; /* Vertically aligns items to the middle */
    gap: 20px; /* Adds space between the figure and the h1 */
    border: 2px solid lightgray;
    padding: 10px;
    color: red;    
}

.small-logo {
    margin-left: 60px;
    width: 150px; /* Adjust the size of the image as needed */
    height: auto;
}

/* Optional: remove default margins from the h1 for tighter control */
.header-container h1 {
    margin: 0;
}

.caption {
    font-style: italic;
    color: #555;
    text-align: center; 
}

body {
    margin: 0px; 
}

.centralizado {
    text-align: center;
    border: 2px solid lightgray;
    padding: 10px;
    color: red
}

.ul_centr {
    text-align: center; /* Centraliza o conteúdo dentro de cada <li> */
  }

.li_centr {
    display: inline-block; /* Faz com que os itens fiquem na mesma linha */
    margin: 0 10px; /* Adiciona um espaço entre os itens */
  }

main{
    margin-left:20px;
    margin-right:20px;        
}

.container-imagens {
  display: flex; /* Coloca as imagens lado a lado */
  gap: 10px; /* Opcional: adiciona um espaço entre as imagens */
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(14, 147, 236);
    padding: 0px;
    margin: 0px;    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(28, 32, 100);
}

.navbar2 ul{
    list-style-type: none;
    background-color: rgb(14, 147, 236);
    padding: 0px;
    margin: 0px;
    overflow: hidden
}
.navbar2 a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar2 a:hover{
    background-color: rgb(28, 32, 100);
}
.navbar2 li{
    float: left;
}

.azul {color: blue
}

.azul_centro {
    color: blue;
    text-align: center;
}

.verm {color: red
} 